#*******************************************************************************
#* @file  doxygen.cfg
#* @brief 
#*******************************************************************************
#* # License
#* <b> Copyright 2023 Silicon Laboratories Inc. www.silabs.com </b>
#*******************************************************************************
#*
#* The licensor of this software is Silicon Laboratories Inc. Your use of this
#* software is governed by the terms of Silicon Labs Master Software License
#* Agreement (MSLA) available at
#* www.silabs.com/about-us/legal/master-software-license-agreement. This
#* software is distributed to you in Source Code format and is governed by the
#* sections of the MSLA applicable to Source Code.
#*
#******************************************************************************
PROJECT_NAME         = "Ping"
OUTPUT_DIRECTORY     = ./components/device/silabs/si91x/wireless/icmp/doxygen-output
HTML_OUTPUT          = html
XML_OUTPUT           = xml
RTF_OUTPUT           = rtf
GENERATE_LATEX       = NO
GENERATE_MAN         = NO
GENERATE_RTF         = NO
GENERATE_XML         = YES
CASE_SENSE_NAMES     = YES
ENABLE_PREPROCESSING = YES
INPUT                =  ./components/device/silabs/si91x/wireless/icmp/sl_net_ping.h \
                        ./components/device/silabs/si91x/wireless/icmp/docs/doxygen_indexfile.md \
                        ./components/device/silabs/si91x/wireless/icmp/docs/doxygen_template.h \                        
                       
IMAGE_PATH           = ./components/device/silabs/si91x/wireless/
STRIP_CODE_COMMENTS  = NO
FILE_PATTERNS        = *.h
QUIET                = YES
JAVADOC_AUTOBRIEF    = YES
SEARCHENGINE         = NO
COMPACT_LATEX        = NO
WARN_AS_ERROR        = YES
