/* Common */
blockquote {
  background-color: whitesmoke;
  border-left: 5px solid;
  padding: 1.25em 1.5em;
  font-family: 'Roboto Mono', monospace;
  margin-left: 0px;
}

table {
  margin-top: 15px;
  margin-bottom: 15px;
}

.jira-link {
  margin-left: 0.5rem;
}

/* Local Index Page */
.doc-object-lists {
  text-align: left;
  color: #fff;
}

.doc-object-lists a {
  color: #78d6ff;
}

.doc-object-lists p {
  margin: 0;
}

/* Class Member Declarations */
.columns {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
}

.attributename {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  padding: 0.75rem;
  font-family: 'Roboto Mono', monospace;
}

.classdescription {
  font-family: 'Roboto', sans-serif;
  font-size: 10.5pt;
  color: #959595;
  margin: -10px 0px 10px 12px;
}

.has-text-right {
  text-align: right;
  color: inherit;
}

.enum {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  padding-left: 1.75rem;
  font-family: 'Roboto Mono', monospace;
}

/* Class Member Definitions */
/* Remove spacing from paragraphs in lists and tables */
/* TODO: We should probably use classes instead of global elements */
.classdescription p, li>p, td>p, th>p {
  margin: 0;
  padding: 0;
}

.parameters {
  margin: 16px 24px;
}

.paramname {
  font-family: 'Roboto Mono', monospace;
  padding: 4px 8px;
  border-style: solid;
  border-color: #f6f6f6;
  border-width: 0 0 1px 1px;
  vertical-align: top;
}

.fragment {
  background: #f4f4f4;
  border-left: 2px solid #959595;
  counter-reset: line;
  margin: 16px 0;
  padding: 16px 16px 16px 0;
}

.macro {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  font-size: 9pt;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #151515;
}

.macroshort {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  font-size: 9pt;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #151515;
}

.macro:before {
  counter-increment: line;
  content: counter(line);
  color: #c8c8c8;
  padding-right: 8px;
  margin-right: 16px;
  width: 32px;
  display: inline-block;
  text-align: right;
  border-right: 1px solid #c8c8c8;
}